* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
 display: table;
 clear: both;
}
body {
  background-image: url("../img/pattern.png");
  background-position: left top;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.container {
  width: 1000px;
  margin: auto;
  padding: 20px;
}
/* HEADER */
  header {
    position: relative;
    height: 300px;
    border: 10px solid white;
    background-image: url("../img/forest.jpg");
    background-position: top;
    background-size: auto;
  }
  .logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white
  }
  .logo-container img {
    height:  170px;
  }
  .logo-container h1 {
    text-align: center;
    font-size: 40px;
  }
/* /HEADER */
/* NAVBAR */
nav {
  height: 50px;
  width: 100%;
  background: grey;
}
ul #menu {
  line-height: 50px;
  list-style-type: none;
}
ul #menu > li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}
/*/ NAVBAR */
/* MAIN */
main  h3 {
  font-size: 30px;
}
section > h3 {
  text-shadow: 3px 2px 3px grey;
  text-transform: uppercase;
}
main {
  text-align: center;
}
main .left-section > h3 {
  color: black;;
}
main .left-section {
  float: left;
  width: 20%;
  margin: 10px 5% 0 0;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  color: green;
}
.left-section > i  {
  float: left;
  color: orange;
  font-size: 30px;
}
main  section {
  float: left;
  width: 50%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
main .right-section {
  float: left;
  width: 20%;
  margin-left: 5%
}
.right-section .widget {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
/* /MAIN */
/* FOOOTER */
footer {
  height: 100px;
  background-color: white;
}
.footer-top{
  border-bottom: 1px solid gray;
  text-align: center;
}
.icon-container {
  float: left;
  width: 33.33%;
  padding: 30px 0;
  text-align: center;
}
.icon-container > i{
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}
.icon-container > i:hover {
  color:black;
}
/* /FOOOTER */
